/**
 * HTML elements.
 */

a {
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}

h1 {
  margin: 0;
}

body > header h1 {
  padding: 10px;
  background-color: #2C2C2C;
  color: #FFFFFF;
  font-weight: normal;
}


/**
 * Navigation.
 */

body > nav {
  float: left;
  width: 200px;
}

body > nav h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding: 4px 20px;
  background-color: #F8F8F8;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #E8E8E8;
}

body > nav ul {
  background-color: #F8F8F8;
}

body > nav li {
  border-bottom: 1px solid #F4F4F4;
}

body > nav li a {
  display: block;
  padding: 5px 5px 4px 20px;
  border-bottom: 1px solid #E8E8E8;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
}


/**
 * Views.
 */

.view {
  margin-left: 200px;
}

.view header h1 {
  padding: 10px;
  background-color: #2C2C2C;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 22px;
  border-bottom: 1px solid #E8E8E8;
}

.view .tweets {
  position: absolute;
  margin-right: 220px;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}

.view .filters {
  position: absolute;
  padding: 10px;
  right: 0;
  width: 200px;
}

/**
 * Discovery.
 */

.view.discovery .trends h3 {
  padding: 6px 10px;
}


/**
 * Story.
 */

.view.story h1 {
  padding: 10px 10px 5px;
  border-bottom: 1px solid #E8E8E8;
}

.view.story .tabs {
  height: 25px;
  background-color: #2C2C2C;
  color: #FFFFFF;
}

.view.story .tabs ul {
  margin-left: 10px;
}

.view.story .tabs li {
  float: left;
  padding: 5px 10px 0 0;
}

.view.story .tabs li a {
  color: #FFFFFF;
  font-weight: normal;
}

.view.story .view-tab {
  display: none;
}


/**
 * Map.
 */

.map {
  margin-bottom: -4px;
}

.map iframe {
  width: 100%;
  height: 300px;
  border: none;
}


/**
 * Tweets.
 */

.tweets article {
  padding: 10px;
  border-bottom: 1px solid #E8E8E8;
}

.tweets article img {
  float: left;
  margin-right: 10px;
}
