nav.stories {
  float: left;
  width: 30%;
}

.main {
  float: right;
  width: 70%;
}

.main section.view,
.main section.view section.view-tab {
  display: none;
}

.map iframe {
  width: 100%;
  height: 300px;
}

.tweets article img {
  float: left;
  margin-right: 10px;
}